# Python venv
venv/
.env/

# Bytecode
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

.env

VectorStore/venv/

# Vector stores / databases
my_chroma_db/
chroma_db/
chromadb/


my_chroma_db/chroma.sqlite3

chroma.sqlite3

VectorStore/venv311/